body {
  background-color: rgb(72, 70, 70);
  color: rgb(244, 177, 64);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 20px 0;
}

a {
  font-size: 13px;
  margin-top: 30px;
  color: rgb(244, 177, 64)
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

.title {
  font-size: 50px;
  font-weight: 700;
}

.name {
  padding: 10px;
  font-size: 14px;
}

.band {
  width: 100%;
}
