<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="For a While Music" />
    <meta property="og:description" content="Official homepage for the rock band For a While" />
    <meta property="og:site_name" content="For a While Music" />
    <meta property="og:URL" content="http://www.forawhile.no" />
    <!-- meta property="og:image" content="" /-->

    <title>FAW</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/style/css/faw.css">
    <link rel="stylesheet" href="/style/css/flex.css">

  </head>

  <body>
    {{ content }}
  </body>

</html>
